
:root {
  --primary-color: rgb(71, 89, 128);
  --secondary-color: rgb(127, 138, 162);
  --third-color: rgb(188, 194, 196);
  --fourth-color: rgb(243, 238, 238);
  --black-color: rgb(19, 18, 18);
  --font-family: sans-serif;
}
